body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.paragraph {
  font-size: 14px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.mainheading {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 10px 0;
}
.heading {
  font-weight: bold;
  font-size: 14px;
}
/* .app {
  padding: 20px 20px 10px 20px;
} */
.app input {
  margin: 10px 0 10px 0;
}

.box img {
  width: 40%;
  display: inline-block;
}
@media only screen and (max-width: 1024px) {
  .mainheading {
    padding: 20px 0 10px;
  }
  .box img,
  .paragraph img {
    width: 60% !important;
  }
  .nav-link {
    padding: 0.2rem 1rem;
    font-size: 14px !important;
  }
  .nav-item {
    height: 24px !important;
  }
  .py-3 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  body {
    /* padding-top: 150px !important; */
  }

  .nav-pills {
    justify-content: center;
  }
  /* .fixed-container{
    width: 100% !important;
    padding: 10px;
  } */
}
.box {
  background-color: #f1f2f3;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.search-list ul {
  padding-left: 0;
}
.search-list li {
  list-style: none;
}
.search-list ul li a {
  text-decoration: none;
}
.questions-list {
  padding: 20px;
  background-color: #f1f2f3;
  border-radius: 8px;
  margin-bottom: 20px;
  scroll-margin: 132px 0 0 0px;
}
.answers {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
}
.pad-lr-20 {
  padding: 0 20px 0px 20px;
}
ul li:last-child {
  margin-bottom: 10px;
}
.wrapper-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-btn .fa-arrow-circle-up {
  font-size: 40px;
  color: #3273dc;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50px;
}
.top-btn button {
  border: 0;
  background: none;
  position: fixed;
  right: 10px;
  bottom: 50%;
}
.button {
  margin-bottom: 10px;
  margin-right: 5px;
}
.paragraph a {
  text-decoration: underline;
}
.paragraph img {
  width: auto;
}
.sticky-div {
  position: sticky;
  max-width: 1344px;
  width: 1344px;
  top: 0;
  z-index: 1;
  background: #fff;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 1rem 2rem hsl(0deg 0% 0% / 8%);
  border-radius: 8px;
  margin-bottom: 10px;
}
body {
  background-color: #ffffff;
  min-height: 100vh;
  padding-top: 0px;
}
/* .m-top-135{
  margin-top: 135px;
} */

.fixed-container{
     position: fixed;
    background: #fff;
    width: 60%;
} 
.box:first-child {
  margin-top: 135px;
}
.height-135 {
  height: 135px;
  max-height: 135px;
}
.navbar-nav .nav-link {
  padding-left: 5px;
}
.navbar-collapse {
  margin-top: 1rem;
}
.nav-item .nav-link.active {
  color: #fff;
  background-color: #0d6efd;
  border-radius: 4px;
}
.bg-light {
  background-color: #f1f2f3;
}
.nav-item {
  height: 40px;
}
p {
  margin-bottom: 0.2rem;
}



.navbar {
  display: none;
}